main{
    *{
        padding: 0;
        margin: 0;
    }
    h1{color:black;
        font-weight: 400;
    }
    .contact{
        // background-color: #F9F9F9;
        background-color: #F8FBFC;
        
    }
    .text{
        gap: 20px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }

}
.grid,.container{
    
padding-top: 3vh;
    display: grid;
   grid-template-columns: 2fr 1fr 1fr;
   gap: 20px;
}

.square{
    background-color: white;
  padding: 4vh 0vw;
    gap: 10px;
    place-items: center;
   
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);

}
.square>svg{
    fill:#388da8;
    border: 2px #388da8 dashed;
    padding: 20px;
    border-radius: 50%;
}
.secondsection{
    display: flex;
    justify-content: space-between;
   width: 100%;
   padding-bottom: 70px;
}
.ifra{
    width: 50%;
    
}
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
    padding: 5vh 2vw;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
   
}
.flex{
    display: flex;
    gap: 20px;
    
}
.full{
    width: 100%;
}
input{
    width: 50%;
    padding: 1vh ;
    border: 1px solid #d8d9da ;
}
textarea{
    width: 100%;
    padding: 3vh;
    border: 1px solid #d8d9da;
    outline: none;
    
}
textarea {
    resize: none;
}

textarea:focus,input:focus{
    outline: 1px solid #5ea3b8;
}
.button{
    border: 2px solid transparent;
   
    background-color: #388da8;
    border-radius: 25px;
    color: white;
    padding: 1vh 2vw;
}
.button:hover{
    background-color:  #5ea3b8;;
}
.center{
    display: flex;
    justify-content: center;

}
.grid2{
    // background-color: #66686909;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr ;
     padding: 10vh 0vh 2vw 2vw;
     
    
    

}
.logo{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 50px;
  
    
}
.logoarea>h5{
     font-weight: 500;
     font-size: 28px;
     text-decoration: none;
     color: #3E5055;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
     
}
.logoarea{
    display: grid;
    gap: 50px;
}
.footer{
   
}
.ppp{
    background-color: #3E5055;
}
.ccc{
    display: grid;
    gap:20px ;
   
}
.socialicone{
    display: flex;
    gap: 10px;
}
.socialicone>svg{
    fill: gray;
    border-radius: 50%;
    border: 1px solid gray;
    padding: 10px;
}
svg:hover{
    fill: #388da8;
   



    cursor: pointer;
}
.links{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,40px);
    
}
.newlatter{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    
  
}

.last{
    padding: 2vh 10vw;
    outline: none;
    border: none;
    border-radius: 25px 0 0 25px;
    border: 1px solid transparent;
    flex: 1;
    background-color: #d8d9da
    ;
}
.inputcontainer{
    display: flex;
    padding: 1vh 0vw;
    width: 100%;

    
    
}
.last2{
    border: none;
    color: rgb(244, 235, 235);
    padding: 0.5vh 2vw;
    background-color: #388da8;
    border-radius:  25px  ;
    
}


   
  
   











 

